<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="main-footer" th:fragment="footer">
    <div class="footer-bottom">
        <div class="footer-copyright">
            &copy; 2026, made with ❤️ by <a href="https://deepansh-react-portfolio.netlify.app/" target="_blank"
                class="footer-brand">Deepansh Shakya</a>
        </div>
        <ul class="footer-links">
            <li><a href="/help">Help</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
    </div>
</footer>

</html>
